
/* --------- Estilização geral --------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15pt;
    font-weight: 400;
    color: #f0f0f0;
    background-image: url(img/fundo-main.png)
}


/* -------- Containers --------- */

.home-sign.up.container {
    width: 600px;
    position: absolute;
    top: 8%;
    left: 52%;
}

.home-sign.in.container {
    width: 600px;
    position: absolute;
    top: 18%;
    left: 52%;
}

/* -------- Navegação --------- */

nav.home-main.menu {
    width: 80%;
    position: absolute;
    top: 30px;
    right: 10%;
    text-align: right;
}

/* -------- Botões --------- */

.home-main.menu.btn.sign {
    height: 50px;
    display: inline-block;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18pt; 
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    margin-left: 10px;
    transition: 0.3s;
}


.home-main.menu.btn.sign.up {
    color: #ba66ff;
    border-color: #ba66ff;
}


.home-main.menu.btn.sign.up:hover {
    color: #ffffff;
    background-color: #ba66ff;
}

.home-main.menu.btn.sign.in {
    color: #ff6edb;
    border-color: #ff6edb;
}

.home-main.menu.btn.sign.in:hover {
    color: #ffffff;
    background-color: #ff6edb;
}

.btn-entrar {
    width: 100%;
    height: 80px;
    display: block;
    font-size: 26pt;
    font-weight: 400;
    color: #ba66ff;
    border-style: none;
    border-radius: 8px;
    margin-top: 20px;
    background-color: #fff126;
    cursor: pointer;
    transition: 0.7s;
}

.btn-entrar:hover {
    font-size: 29pt;
    font-weight: 700;
}

/* --------- Cabeçalhos --------- */

.home-main.header {
    width: 80%;
    position: absolute;
    top: 20%;
    left: 10%;
    text-align: left;
}

.home-sign.header {
    width: 600px;
    text-align: center;
}

.home-main.logo, 
.home-sign.logo {
    font-family: 'Play', sans-serif;
    font-size: 120pt;
    font-weight: 700;
    color: #ff1dce;
}

.home-main.logo {
    font-size: 120pt;
}

.home-sign.logo {
    font-size: 60pt;
}

.home-main.logo.seat, 
.home-sign.logo.seat {
    color: #00eeff;
    font-weight: 400;
}

.home-main.slogan {
    font-size: 25pt;
    font-weight: 400;    
}


/* --------- Formulários --------- */

.home-sign.form {
    width: 100%;
    background-color: #ba66ff;
    border-radius: 10px;
    padding: 50px;
    padding-bottom: 60px;
}

.home-sign.title {
    text-align: center;
    font-size: 30pt;
    font-weight: 400;
    color: #f5f5f5;
}

.input-login {
    width: 100%;
    height: 80px;
    font-size: 20pt;
    font-weight: 400;
    color: #535353;;
    border-style: none;
    border-radius: 8px;
    margin-top: 20px;
    background-color: #f5f5f5;
    padding-left: 15px;
    outline: none;
}

.input-login:focus {
    border-style: solid;
    border-color: #535353;
}